<div class="layout">
  <div class="markdown gap">
    {% render 'poster', decade: decade, movie: movie, small: true %}
    <div class="richtext richtext--center gap--large">
    <div class="content content--center gap text--center">
      <p>🎥 Directed by {{ movie.director }}</p>

      <p></p>

      {{ movie.desc }}
    </div>
  </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://cdn.rknight.me/trmnl/literate-movies.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
</div>